* {
    padding: 0px;
    margin: 0px;
    background-color: grey;
}

:root{
    --primary : #eab676;
    --secondary: #2d2c2a;
}

/* .Montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
} */

/* Navigation Bar */

.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1.4rem 7%;
    background-color: rgba( 1, 0, 1, 0.8);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .navbar-logo {
    color: aliceblue;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 10px;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.hamburger-menu {
    display: block;
    position: absolute;
    float: right;
    padding: 0.5rem;
}


